body {
    position: static;
    
  
    padding-top: 20px;
}
.container {
    color: #000000;
    position: static;
   
    border-radius: 20px;
}
.h {
    color: #008000;
    
}
p {
    text-transform: capitalize;
     text-align: justify;
    color: #2f4f4f;
}